html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

iframe.pdf {
    flex-grow: 1;
    border: none;
    width: 100%;
}
